Options +FollowSymlinks
RewriteEngine on
RewriteRule ^nwis\/site\/(.*)$ https://waterservices.usgs.gov/nwis/site/$1 [P]
RewriteRule ^sitesmapper\/(.*)$ https://waterdata.usgs.gov/$1 [P]
RewriteRule ^nwissitesmapper\/(.*)$ https://nwis.waterdata.usgs.gov/$1 [P]
RewriteRule ^wamapper\/(.*)$ https://waterservices.usgs.gov/nwis/iv/$1 [P]
RewriteRule ^export\/(.*)$ https://localhost:8080/exportFile$1 [P]
RewriteRule ^exportSM\/(.*)$ https://localhost:8081/exportFileSM$1 [P]
RewriteRule ^sitecounter\/(.*)$ https://localhost:9998/counterProcess$1 [P]
RewriteRule ^fileUpload\/(.*)$ https://localhost:9997/$1 [P]
RewriteRule ^aquifers\/(.*)$ https://localhost:8082/aquiferName$1 [P]
RewriteRule ^tileRGB\/(.*)$ https://localhost:8085/tileRGBValue$1 [P]